body{
	margin: 0;	
	background-color: #1f1f1f;
}

#back-image{
	position: fixed;
	width: 100%;
	min-width: 600px;
	z-index: -1;
}

#navbar{
	
		padding-bottom: 25px;
		height: 25px;
		width: 75%;
		min-width: 600px;
		margin: auto;
		text-align: center;
		z-index: 2;
		background-color: #1f1f1f;
	}

	#navbar ul{
		list-style-type: none;
		display: inline-block;
		padding-left: 0;

		}

	#navbar	li{
		display: inline;
	}

	#navbar a{
		font-size: 20px;
		color: #e6e6e6;	
		width: 100px;
		float: left;
		text-decoration: none;
	}

		#long{
			padding-right: 25px;
		}

		#short{
			
		}

#box{
	width: 70%;
	min-width: 650px;
	margin: auto;
	padding-bottom: 5px;
	background-color: grey;
	opacity: 0.4;
	}

	#header{
		width: 80%;
		min-width: 600px;
		margin: auto;
	}

		#logo{
			width: 80%;
			display: block;
			margin: auto;
			
		}

	
	#content{
		width: 80%;
		min-width: 600px;
		margin: auto;
		font-size: 20px;
		text-align: justify;
	}
